In [87]:
"""Purpose: Geocode (using Google Maps Geocode API) all 20k addresses in the CSV file and
   add the respective longitude & latitude to each row so
   it can be plotted on to Google Maps
   Additionally, do some data processing to avoid future errors"""

import pandas as pd
import numpy as np
import googlemaps as maps

In [88]:
data = pd.read_csv("winnipeg_house_sales_2016-2018.csv")
data["longitude"] = np.nan
data["latitude"] = np.nan
data.head(5)

,address,roll number,year of sale,month of sale,sale price,longitude,latitude
0,900 ARCHIBALD ST,6032253000,2017,10,"$244,000",NaN,NaN
1,17 BERKSHIRE BAY,6024002500,2017,10,"$248,000",NaN,NaN
2,21 BERKSHIRE BAY,6024003000,2016,11,"$220,000",NaN,NaN
3,27 BERKSHIRE BAY,6024004000,2016,5,"$217,000",NaN,NaN
4,35 BERKSHIRE BAY,6024005500,2016,5,"$235,000",NaN,NaN

In [89]:
"""
import re

# Check if there are any non-addresses in the dataframe so that
# google maps geocode doesn't throw error

address_list = []
regex = r"\d+\s{1}\w+\s{1}\w+"
# check if address starts with some amount of numbers (address number)
# followed by one whitespace
# followed by some amount of characters (address name)
# and then again one whitespace
# followed by some amount of characters (example: street, avenue etc.)


for i in range(len(df)):
    address = df.iloc[i, 0]
    matches = re.search(regex, address)
    if not matches:
        address_list.append(address)

for i in range(len(address_list)):
    print(address_list[i] + "\n")


# There are different forms of addresses but none are non-addresses which is good
"""

'\n# Check if there are any non-addresses in the dataframe so that\n# google maps geocode doesn\'t throw error\n\n\naddress_list = []\nregex = r"\\d+\\s{1}\\w+\\s{1}\\w+"\n# check if address starts with some amount of numbers (address number)\n# followed by one whitespace\n# followed by some amount of characters (address name)\n# and then again one whitespace\n# followed by some amount of characters (example: street, avenue etc.)\n\n\nfor i in range(len(df)):\n    address = df.iloc[i, 0]\n    matches = re.search(regex, address)\n    if not matches:\n        address_list.append(address)\n\nfor i in range(len(address_list)):\n    print(address_list[i] + "\n")\n\n\n# There are different forms of addresses but none are non-addresses which is good\n'

In [90]:
gmap = maps.Client(key='')
error_lst = []
invalid_address_lst = []

for row in range(len(data)):
    try:
        result = gmap.geocode(data.iloc[row, 0] + ', Winnipeg, Manitoba')
        if not result:
            invalid_address_lst.append(row)
            continue
        else:
            data.iloc[row, 5] = result[0]['geometry']['location']['lng']
            data.iloc[row, 6] = result[0]['geometry']['location']['lat']
    except:
        error_lst.append(error_lst)

data.head(3)

,address,roll number,year of sale,month of sale,sale price,longitude,latitude
0,900 ARCHIBALD ST,6032253000,2017,10,"$244,000",-97.093423,49.872210
1,17 BERKSHIRE BAY,6024002500,2017,10,"$248,000",-97.088862,49.871602
2,21 BERKSHIRE BAY,6024003000,2016,11,"$220,000",-97.089015,49.871589

In [91]:
nonDuplicateData = data.sort_values([data.columns[2], data.columns[3]], ascending= [False, False]).drop_duplicates()
nonDuplicateData.to_csv("house_data.csv")

print("Error List: " + error_lst)
print("Invalid addresses index: " + invalid_address_lst)